/* SLIDER 1 */
@keyframes movement-boat {
  0% {
    right: 19%;
  }
  100% {
    right: 20%;
  }
}

@keyframes inverted-movement-boat {
  0% {
    right: 20%;
  }
  100% {
    right: 19%;
  }
}

@keyframes movement-title {
  0% {
    left: 100%;
  }
  100% {
    left: 52%;
  }
}

@keyframes inverted-movement-title {
  0% {
    left: 52%;
  }
  100% {
    left: 100%;
  }
}


/* SLIDER 2 */
@keyframes movement-banner-2-title {
  0% {
    left: 30%;
  }
  100% {
    left: 0%;
  }
}

@keyframes inverted-movement-banner-2-title {
  0% {
    left: 0%;
  }
  100% {
    left: 30%;
  }
}

/* animation responsive */

@keyframes responsive-movement-banner-2-title {
  0% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes responsive-inverted-movement-banner-2-title {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}


@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, -8%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate3d(0, -8%, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn-inverse {
  from {
    opacity: 1;
    transform: translate3d(0, -15%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut-inverse {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

/* SLIDER 3 */
@keyframes movement-bote2 {
  0% {
    right: 0%;
  }
  100% {
    right: 10%;
  }
}

@keyframes movement-bote2-2 {
  0% {
    right: 10%;
  }
  100% {
    right: 0%;
  }
}

/* 45 */
@keyframes movement-banner-3-title {
  0% {
    left: 0%;
  }
  100% {
    left: 45%;
  }
}

@keyframes inverted-movement-banner-3-title {
  0% {
    left: 45%;
  }
  100% {
    left: 0%;
  }
}
