@import url("./module_navbar.css");
@import url("./module_slider.css");
@import url("./module_slider-1.css");
@import url("./module_slider-2.css");
@import url("./module_slider-3.css");
@import url("./module_sections.css");

:root {
  --blue-indicator: #4497b9;
  --blue-subtitle: #00baff;
  --white-color: #ffffff;
  --grey-color: #b5b5b5;
  --background-color: #050a1a;
  --black-color: #000000;

  --gradient: linear-gradient(
    180deg,
    hsl(226deg 68% 6%) 0%,
    hsl(226deg 59% 8%) 31%,
    hsl(227deg 55% 9%) 45%,
    hsl(227deg 54% 10%) 54%,
    hsl(226deg 54% 12%) 62%,
    hsl(226deg 53% 14%) 69%,
    hsl(226deg 51% 16%) 75%,
    hsl(226deg 50% 19%) 81%,
    hsl(233deg 23% 33%) 86%,
    hsl(237deg 12% 54%) 91%,
    hsl(238deg 12% 77%) 96%,
    hsl(0deg 0% 100%) 100%
  );
}

html,
body,
.childContainer1,
.childSlider {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
.body-page {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.img-section {
  width: 100%;
  height: calc(2100px / 3);
}
