* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#carousel,
#navigation {
  flex: initial;
  display: block;
}

#navigation {
  position: absolute;
  right: 80%;
  top: 30%;
  z-index: 1;
}

.carousel {
  position: absolute;
  top: 4%;
  overflow: hidden;
  width: 100%;
  height: 556px;
}

.p-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  transition: transform 0.4s ease-in-out;
}








#button_a:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#button_b:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#button_c:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

#button_d:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}








[class^="panel_"] {
  position: relative;
  width: inherit;
  height: inherit;
}

#navigation {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  z-index: 2;

}

[class^="label_"] {
  cursor: pointer;
  margin: 10px 0 10px 0;
  background: url("../assets/underlined-ellipse.png");
  height: 24px;
  width: 24px;
  display: inline-block;
  background-size: contain;
}

.vl {
  border-left: 1px solid var(--blue-indicator);
  height: 15px;
}

#button_a:checked ~ #navigation .label_a,
#button_b:checked ~ #navigation .label_b,
#button_c:checked ~ #navigation .label_c {
  cursor: default;

  background: url("../assets/filled-ellipse.png");
  margin: 10px 0 10px 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  background-size: contain;
}




/* 
#arrowUp:checked ~ #carousel .p-wrapper{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#arrowDown:checked ~ #carousel .p-wrapper{
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}


 */




.navigation-alternative{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 60%;
  /* background-color: blue; */
  top: 5%;
}
#arrowUp{
  visibility: hidden;
}
.fa-solid {
  color: white;
}


@media screen and (max-width: 601px) {
  /* not show ellipsis */
  #navigation{
    display: none;
  }
}
@media screen and (min-width: 600px) {
  /* not show ellipsis */

  /* show arrows */
  .navigation-alternative{
    display: none;
  }
}