.img-space{
  position: relative;
}

.img-space > .banner-1 {
  width: 87%;
  height: 65%;
  position: absolute;
  top: 10%;
  right: 1%;
}
.banner-1 > .texto {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 27%;
  left: 37%;
}

.texto > .titulo {
  color: var(--white-color);
  position: relative;
  font-size: 70px;
}
.texto > .subtitulo {
  color: var(--blue-subtitle);
  font-size: 29px;
  font-weight: lighter;
  letter-spacing: 10px;
}

.banner-1 > .imagen-fondo {
  position: relative;
  top: 100%;
}

.img-container  > img {
  max-width: 80%;
}

.reloj-fondo > img {
  width: 70%;
  position: absolute;
  right: 15%;
  bottom: 1%;
  z-index: 1;
}
.bote > img {
  width: 55%;
  position: absolute;
  bottom: 20%;
  z-index: 2;
  right: 19%; /* posicion inicial */
  /* animation: inverted-movement-boat 1s forwards; */

}
.agua > img {
  width: 35%;
  position: absolute;
  bottom: -3%;
  right: 30%;
  z-index: 3;
}

/* animation */
.animate-boat {
  animation: inverted-movement-boat 1s forwards;
}
.animate-boat-2 {
  animation: movement-boat 1s forwards;
}


@keyframes inverted-movement-boat {
  0% { right: 20% }
  100% { right: 19% }
  
}

@keyframes movement-boat {
  0% { right: 19% }
  100% { right: 20% }
}












/* banner-1 responsive */
@media screen and (max-width: 600px) {
  .img-space > .banner-1 {
    width: 100%;
    height: 35%;
  }
  .banner-1 > .texto {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 27%;
    left: 47%;
  }

  .texto > .titulo {
    font-size: 50px;
  }

  .imagen-fondo{
    position: absolute;
    top: 50%;
  }
}