* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
          
          
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
          
#carousel, #navigation {
  flex: initial;
  display: block;
}

#navigation{
  position: absolute;
  right: 75%;
  top: 30%;
  z-index: 1;
}

.carousel {
  position: absolute;
  top: 5%;
  overflow: hidden;
  width: 100%;
  height: 556px;
  background-image: linear-gradient(
  180deg,
  hsl(224deg 70% 6%) 72%,
  hsl(224deg 28% 13%) 90%,
  hsl(226deg 18% 19%) 96%,
  hsl(227deg 13% 25%) 99%,
  hsl(227deg 9% 32%) 100%,
  hsl(228deg 7% 39%) 101%,
  hsl(228deg 5% 46%) 102%,
  hsl(228deg 5% 53%) 102%,
  hsl(229deg 5% 61%) 102%,
  hsl(229deg 5% 92%) 100%,
  hsl(0deg 0% 100%) 100%
);
}
          
.p-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  
  transition: transform 0.4s ease-in-out;
}
          
#button_a:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0); 
}
          
#button_b:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); 
}

#button_c:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%); 
}

#button_d:checked ~ #carousel .p-wrapper {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%); 
}
          
[class^="panel_"] {
  overflow: hidden;
  position: relative;
  width: inherit;
  height: inherit;
}
          
#navigation {
  /* margin-left: 24px; */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

[class^="label_"] {
  cursor: pointer;

  background: url('../assets/underlined-ellipse.png');
  height:32px;
  width:32px;
  display: inline-block;
  background-size: contain;
}

.vl {
  border-left: 1px solid var(--blue-indicator);
  height: 15px;
  /* margin-left: 15px; */
}
          
#button_a:checked ~ #navigation .label_a,
#button_b:checked ~ #navigation .label_b,
#button_c:checked ~ #navigation .label_c {
   cursor: default;

   /* ellipsis change */
   background: url('../assets/filled-ellipse.png');
   height:32px;
  width:32px;
  display: inline-block;
  background-size: contain;
}

