/* GLOBAL STYLES */
.panel_b {
  background-color: var(--background-color);
}
.fondo {
  width: 32%;
  height: 119%;
  position: relative;
  z-index: 1;
}
.img-cubo {
  right: 0%;
  width: 100%;
  color: var(--white-color);
}
.container-img img{
  width: 90%;
}
/* Desktop styles */
.banner-2-desktop{
  width: 100%;
  height: 96%;
  position: absolute;
  bottom: 2%;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.banner-2-desktop #banner-2-title {
  justify-content: center;
  display: flex;
  width: 47%;
  font-size: 2vw;
  position: absolute;
  top: 12%;
}
.banner-2-desktop .containers {
  position: absolute;
  top: 31%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56%;
  height: 45%;
}
.banner-2-desktop #container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 5px 0 5px;
  height: 16vw;
  width: 21%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/banner-2/Rectangle9.png);
  backdrop-filter: blur(6px);
}
.banner-2-desktop #container .container-img {
  z-index: 2;
  width: 9vw;
  padding: 10px;
}
.banner-2-desktop #container .container-info {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banner-2-desktop .containers #container .container-info  .container-subtitle {
  font-size: 0.9vw;
}
.banner-2-desktop .containers #container .container-info .container-hr {
  z-index: 1;
  width: 81%;
  margin: 0 20px 0 20px;
}
.banner-2-desktop .containers #container .container-info .container-text {
  font-size: 0.6vw;
  width: 11vw;
}
.banner-2-desktop .containers #container .container-info .container-text .text{
  font-weight: bold;
}
/* Tablet styles */
.banner-2-tablet{
  width: 100%;
  height: 96%;
  position: absolute;
  bottom: 2%;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.banner-2-tablet #banner-2-title {
  justify-content: center;
  display: flex;
  width: 47%;
  font-size: 2.5vw;
  position: absolute;
  top: 12%;
}
.banner-2-tablet .containers {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 50%;
}
.banner-2-tablet #container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 5px 0 5px;
  height: 22vw;
  width: 23%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/banner-2/Rectangle9.png);
  backdrop-filter: blur(6px);
}
.banner-2-tablet #container .container-img {
  z-index: 2;
  width: 12vw;
  padding: 10px;
}
.banner-2-tablet #container .container-info {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banner-2-tablet .containers #container .container-info  .container-subtitle {
  font-size: 1.2vw;
}
.banner-2-tablet .containers #container .container-info .container-hr {
  z-index: 1;
  width: 81%;
  margin: 0 20px 0 20px;
}
.banner-2-tablet .containers #container .container-info .container-text {
  font-size: 1vw;
}
.banner-2-tablet .containers #container .container-info .container-text .text{
  font-weight: bold;
}

/* Mobile styles */
.banner-2-mobile{
  width: 100%;
  height: 96%;
  position: absolute;
  bottom: 2%;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-2-mobile #banner-2-title {
  justify-content: center;
  display: flex;
  width: 64%;
  font-size: 4vw;
  position: absolute;
  z-index: 1;
  top: 17%;
}



.banner-2-mobile .containers {
  width: 82%;
  height: 61%;
  position: absolute;
  bottom: 12%;
  left: 10%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

}
.banner-2-mobile .containers #container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 5px 0 5px;
  height: 25vw;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../assets/banner-2/Rectangle9.png);
  backdrop-filter: blur(6px);
}
.banner-2-mobile .containers #container .container-img {
  z-index: 2;
  width: 15vw;
  padding: 10px;
}
.banner-2-mobile .containers #container .container-img img {
  width: 50vw;
}
.banner-2-mobile .containers #container .container-info {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banner-2-mobile .containers #container .container-info  .container-subtitle {
  font-size: 3vw;
}
.banner-2-mobile .containers #container .container-info .container-hr {
  z-index: 1;
  width: 81%;
  margin: 0 20px 0 20px;
}
.banner-2-mobile .containers #container .container-info .container-text {
  font-size: 1.9vw;
}
.banner-2-mobile .containers #container .container-info .container-text .text{
  margin: 0 15px 0 15px;
  font-weight: bold;
}



/* animations */
.banner-2-desktop .animate-banner-2-title {
  animation: movement-banner-2-title 3s forwards;
}

.banner-2-desktop .animate-banner-2-title-inverted {
  animation: inverted-movement-banner-2-title 3s forwards;
}

.banner-2-desktop .containers .grid-container {
  animation: fadeIn 0.5s ease-in both;
}
.banner-2-desktop .containers .grid-container-inverted {
  animation: fadeOut 0.5s ease-in both;
}

/* responsive animations */
.banner-2-tablet .containers .grid-container, .banner-2-mobile .containers .grid-container {  
  animation: fadeIn-inverse 0.5s ease-in both;
}
.banner-2-tablet .containers .grid-container-inverted ,.banner-2-mobile .containers .grid-container-inverted {
  animation: fadeOut-inverse 0.5s ease-in both;
}

div#containers div:nth-child(3) {
  animation-delay: 0.2s;
}
div#containers div:nth-child(2) {
  animation-delay: 0.4s;
}
div#containers div:nth-child(1) {
  animation-delay: 0.4s;
}

@keyframes movement-banner-2-title {
  0% { left: 25%; }
  100% { left: 0%; }
}

@keyframes inverted-movement-banner-2-title {
  0% { left: 0%; }
  100% { left: 25%; }
}

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, -8%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate3d(0, -8%, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn-inverse {
  from {
    opacity: 1;
    transform: translate3d(0, -15%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut-inverse {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

@media only screen and (max-width: 459px){
  .banner-2-mobile .containers #container {
    height: 35vw;
  }
}

@media only screen and (max-width: 328px){
  .banner-2-mobile .containers #container {
    height: 47vw;
  }
  .banner-2-mobile .containers #container .container-img {
    z-index: 2;
    width: 20vw;
    padding: 10px;
}
  .banner-2-mobile .containers #container .container-info .container-subtitle {
    font-size: 3vw;
  }
  .banner-2-mobile .containers #container .container-info .container-text {
    font-size: 1.8vw;
}
}