.button-container {
  height: 200px;

  position: absolute;
  top: 28%;
  right: 80%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-container > a {
  background: url('../assets/underlined-ellipse.png');
  height:32px;
  width:32px;
  display: inline-block;
  background-size: contain;
}

.button-container > .ellipse-filled{
  background: url('../assets/filled-ellipse.png');
  height:32px;
  width:32px;
  display: inline-block;
  background-size: contain;
}


.button-container > .vl {
  border-left: 1px solid var(--blue-indicator);
  height: 15px;
}



@media screen and (max-width: 600px) {
  .button-container {
    height: 200px;
  
    position: absolute;
    top: 38%;
    right: 80%;
    z-index: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .button-container > a {
    background: url('../assets/underlined-ellipse.png');
    height:12px;
    width:12px;
    display: inline-block;
    background-size: contain;
  }
  .button-container > .ellipse-filled{
    background: url('../assets/filled-ellipse.png');
    height:12px;
    width:12px;
    display: inline-block;
    background-size: contain;
  }
}