.panel_b {
  background-color: var(--background-color);
}
.fondo {
  width: 32%;
  height: 119%;
  position: relative;
  z-index: 1;
}

.img-cubo {
  right: 0%;
  width: 100%;
  color: var(--white-color);
}

.img-cubo > .banner-2 {
  width: 50%;
  height: 70%;
  position: absolute;
  bottom: 15%;
  left: 18%;
}

.banner-2 > #banner-2-title {
  position: absolute;
  left: 1%;
  bottom: 90%;
  z-index: 1;
  width: 500px;

  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-weight: bold;

  display: flex;
  justify-content: center;
}

.banner-2 > .containers {
  position: absolute;
  bottom: 31%;
  left: 13%;
  width: 100%;
  height: auto;
  height: auto;

  column-gap: 5px;
  display: flex;
  flex-direction: row;
}
.containers > .container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 46%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > img {
  width: 23%;
  height: 95%;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.container-img {
  z-index: 1;
  width: 80%;
  padding: 10px;
}
.container-subtitle {
  z-index: 1;
  font-size: 13px;
  margin: 5px;
}
hr {
  z-index: 1;
  width: 60%;
}
.container-text {
  z-index: 1;
  padding: 8px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin: 0 20px 0 20px;
}

.grid-container {
  animation: fadeIn 1s ease-in both;
}
.grid-container-inverted {
  animation: fadeOut 1s ease-in both;
}

div.containers > div.container:nth-child(2) > img {
  animation-delay: 0.3s;
}
div.containers > div.container:nth-child(3) > img {
  animation-delay: 0.4s;
}
div.containers > div.container:nth-child(4) > img {
  animation-delay: 0.5s;
}

.animate-banner-2-title {
  animation: movement-banner-2-title 1s forwards;
}

.animate-banner-2-title-inverted {
  animation: inverted-movement-banner-2-title 1s forwards;
}

/* animations */
@keyframes movement-banner-2-title {
  0% {
    left: 25%;
  }
  100% {
    left: 0%;
  }
}

@keyframes inverted-movement-banner-2-title {
  0% {
    left: 0%;
  }
  100% {
    left: 25%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -90%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -90%, 0);
  }
}

/* responsive */
@media screen and (max-width: 600px) {
  .fondo {
    width: 48%;
    height: 98%;
    position: relative;
    z-index: 1;
    left: -6%;
  }
  .img-cubo > .banner-2 {
    width: 98%;
    height: 72%;
  }
  #banner-2-title {
    width: 100%;
    position: absolute;
    bottom: 95%;
  }
  #banner-2-title p {
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;

    position: absolute;
    right: 8%;
  }

  .banner-2 > .containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 15%;
    left: -15%;
    height: 88%;
  }
  .container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 46%;
    height: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container > img {
    width: 161px;
    height: 170px;
  }
  .container-img {
    width: 66%;
  }

  .container > .container-subtitle {
    font-size: 13px;
  }
  .container > .container-text {
    font-size: 8px;
    margin: 0;
  }
}

@media screen and (max-width: 359px) {
  .banner-2 {
    width: 50%;
    height: 70%;
    position: absolute;
    bottom: 24%;
    left: -4%;
  }
  .container {
    width: 86%;
    height: 94%;
    column-gap: 5px;
  }
  .container > img {
    width: 38%;
    height: 37%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .banner-2 > .containers {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .container > .container-subtitle {
    font-size: 8px;
  }
  .container > .container-text {
    font-size: 8px;
    margin: 0;
  }
}
